main h1,
main h2,
main h3 {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

.register-form__text-input {
  width: 100%;
  font-size: 125%;
  font-family: "Noto Sans";
}

.register-button {
  background-color: #0185d1;
  color: #ffffff;
  border: 2px #0185d1 solid;
  transition-duration: var(--transition-duration-regular);
  width: 320px;
  height: 64px;
  font-size: 175%;
  font-family: "Noto Sans";
}

.register-button:hover {
  background-color: #0992e2;
  border: 2px #0992e2 solid;
}
