<div id="bottom-navigation-bar-wrapper">
    <div id="bottom-navigation-bar">
        <div id="bottom-navigation-bar-left-text">
            ©
            <a
                href="https://mistertfy64.com"
                style="color: transparent"
                title="Mathematical Base Defenders' creator's personal website"
            >
                <img
                    style="vertical-align: middle"
                    src="assets/images/mistertfy64.svg"
                    height="32px"
                />
            </a>
            2021-2022 &nbsp;
            <a class="bottom-navigation-bar-text" href="changelog"
                >Changelog</a
            >
            <a class="bottom-navigation-bar-text" href="privacy-policy"
                >Legal</a
            >
            <a
                class="bottom-navigation-bar-text"
                href="open-source-acknowledgements"
                >Acknowledgements</a
            >
            <a class="bottom-navigation-bar-text" href="attributions"
                >Attributions</a
            >
            <div id="bottom-navigation-bar-right-text">
                <a
                    href="https://patreon.com/mistertfy64"
                    style="color: transparent"
                    title="Donate"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/patreon.png"
                        height="32px"
                    /> </a
                >&nbsp;
                <a
                    href="https://discord.gg/pDTZvrTXm9"
                    style="color: transparent"
                    title="Discord Server"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/discord.svg"
                        height="32px"
                    /> </a
                >&nbsp;
                <a
                    href="https://github.com/mathematicalbasedefenders/issuetracker"
                    style="color: transparent"
                    title="GitHub Issue Tracker"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/github.png"
                        height="32px"
                    /> </a
                >&nbsp;
                <a
                    href="https://facebook.com/mathematicalbasedefenders"
                    style="color: transparent"
                    title="Facebook"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/facebook.png"
                        height="32px"
                    /> </a
                >&nbsp;
                <a
                    href="https://twitter.com/MathematicalBD"
                    style="color: transparent"
                    title="Twitter"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/twitter.png"
                        height="32px"
                    /> </a
                >&nbsp;
                <a
                    href="https://instagram.com/mathematicalbasedefenders"
                    style="color: transparent"
                    title="Instagram"
                >
                    <img
                        style="vertical-align: middle"
                        src="assets/images/instagram.png"
                        height="32px"
                    />
                </a>
            </div>
        </div>
    </div>
</div>