<div style="font-size: 28px">
    <span float="left;">
        <div id="top-navigation-bar">
            <input
                type="image"
                src="assets/images/mathematicalbasedefenders.png"
                style="height: 96px"
                class="link-button mathematical-base-defenders-logo"
                onClick="document.location.href='/'"
            />
            <a class="link-button" style="font-size: 36px" href="play"
                >Play</a
            >
            <a class="link-button" href="register">Register</a>
            <a class="link-button" href="statistics">Statistics</a>
            <a class="link-button" href="leaderboards?mode=standard"
                >Leaderboards</a
            >
            <a class="link-button" href="about">About</a>
        </div>
    </span>
</div>