<footer>
  <div id="bottom-footer">
    <div>
      <a class="bottom-footer__link" href="https://mistertfy64.com"><img alt="mistertfy64" style="vertical-align: middle" src="/assets/images/mistertfy64.svg">
        <br>
      </a>
    </div>
    <div class="bottom-footer__right">
      <div class="bottom-footer__social-media">
        <div><a class="bottom-footer__link" href="https://patreon.com/mistertfy64">
            Patreon</a>
        </div>
        <div><a class="bottom-footer__link" href="https://goto.mistertfy64.com/mbddc">
            Discord</a>
        </div>
        <div><a class="bottom-footer__link" href="https://github.com/mathematicalbasedefenders">
            GitHub</a>
        </div>
        <div><a class="bottom-footer__link" href="https://facebook.com/mathematicalbasedefenders">
            Facebook</a>
        </div>
        <div><a class="bottom-footer__link" href="https://x.com/MathematicalBD">
            X (Twitter)</a>
        </div>
        <div><a class="bottom-footer__link" href="https://instagram.com/mathematicalbasedefenders">
            Instagram</a>
        </div>
      </div>
      <div>
        <a class="bottom-footer__link" href="/changelog">Changelog</a>
        <a class="bottom-footer__link" href="/privacy-policy">Privacy Policy</a>
        <a class="bottom-footer__link" href="/open-source-acknowledgements">Open Source Acknowledgements</a>
        <a class="bottom-footer__link" href="/request-password-change">
          Change Password?
        </a>
      </div>
    </div>
  </div>
</footer>