<!DOCTYPE html>
<html lang="en">

<head>
  <title>Change Password | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/change-password.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>Change Password: Change</h1>
      Your account's password has successfully been changed.
      <br>
      You may now log in to your account using your new password.
      <br><br>
      <a href="/">Go back to the homepage.</a>
      <br>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>