<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <style>
    #header {
      background-image: url("/assets/images/gameplay-background.png");
      background-color: rgba(255, 255, 255, 0.8);
      background-blend-mode: lighten;
    }



    #header {
      height: 50vh
    }

    #header__text-container {
      height: 100%;
    }

    #header__text>h1 {
      margin: 0;
      text-align: center;
      font-weight: normal;
      font-size: 48px
    }

    #header__text>h2 {
      margin: 0;
      text-align: center;
      font-weight: normal;
      font-size: 24px
    }

    #header__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    #play-now-button {
      background-color: #108800;
      border-radius: 4px;
      color: #ffffff;
      border: 2px #108800 solid;
      transition-duration: 250ms;
      width: 320px;
      height: 64px;
      font-size: 32px;
      font-family: "Computer Modern Unicode Serif";
      margin-right: 8px;
    }

    #register-button {
      background-color: #0185d1;
      border-radius: 4px;
      color: #ffffff;
      border: 2px #0185d1 solid;
      transition-duration: 250ms;
      width: 320px;
      height: 64px;
      font-size: 32px;
      font-family: "Computer Modern Unicode Serif";
    }

    #play-now-button:hover {
      background-color: #15b800;
      border: 2px #15b800 solid;
    }

    #register-button:hover {
      background-color: #0992e2;
      border: 2px #0992e2 solid;
    }

    .main-point {
      display: flex;
    }
  </style>
</head>

<body>
  <%- include("../partials/top-navigation-bar.ejs") %>
  <div>
    <!-- This is the main content -->
    <div id="header">
      <div id="header__text-container">
        <div id="header__text">
          <h1>Yet another number-cruncher math game.</h1>
          <h2>Solve math problems to kill enemies, and that's pretty much it.</h2>
          <div style="display:flex">
            <button id="play-now-button">Play Now</button><button id="register-button">Register</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="main-point">
        <div></div>
        <div></div>
      </div>
    </div>
  </div> <!-- This is the main content -->
  <%- include("../partials/footer.ejs") %>
</body>

</html>