<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <style>
    h1 {
      margin: 0;
      font-weight: normal;
      font-size: 48px
    }

    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 24px
    }

    .privacy-policy-container {
      width: 80% !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .privacy-policy-container p {
      margin: 0
    }
  </style>
</head>

<body>
  <%- include("../partials/top-navigation-bar.ejs") %>
  <div class="privacy-policy-container" id="content-container">
    <!-- This is the main content -->
    <br>
    <h1>Privacy Policy</h1>
    <hr>
    <%- data.privacyPolicy %>
  </div> <!-- This is the main content -->
  <%- include("../partials/footer.ejs") %>
</body>

</html>