<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/register.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <div>
        <br>
        <h1>Register</h1>
        Your registration data is valid and has been sent to the server.
        <br>
        At the moment, your account is in a pending state, and can't be logged into.
        <br>
        To activate your account, please click on the link sent to your e-mail address that you've provided.
        <br>
        After clicking the activation link, you may log in to your account.
        <br>
        Thank you for registering for Mathematical Base Defenders!
        <br><br>
        <a href="/">Go back to the homepage.</a>
        <br>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>