#bottom-footer {
  background-color: var(--color-background-secondary);
  color: var(--color-text-light);
  display: flex;
  padding: 8px 0;
  z-index: 10;
  position: relative;
  justify-content: space-between;
}

#bottom-footer > div {
  padding: 12px 16px;
  color: var(--color-text-light);
  display: flex;
}

.bottom-footer__right {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: var(--color-text-light);
}

.bottom-footer__social-media {
  display: flex;
  flex-direction: row;
  color: var(--color-text-light);
  margin-left: auto;
}

.bottom-footer__link {
  color: var(--color-text-light) !important;
}

.bottom-footer__social-media > div {
  padding: 4px;
}

.bottom-footer__link > img {
  vertical-align: middle;
}

.bottom-footer__link img {
  width: auto;
  height: 32px;
}

@media only screen and (max-width: 768px) {
  #bottom-footer {
    flex-direction: column;
  }

  .bottom-footer__social-media {
    flex-direction: column;
  }

  #top-navbar {
    flex-direction: column;
  }
}
