@font-face {
  font-family: "Computer Modern Unicode Serif";
  src: url("../assets/fonts/computermodernunicodeserif.ttf");
}

* {
  font-variant-ligatures: none;
}

body {
  font-family: "Computer Modern Unicode Serif";
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  /* TODO: magic number, fix */
  min-height: calc(100vh - 112px);
}

.link-button {
  border: none;
  background: none;
  font-family: "Computer Modern Unicode Serif";
  vertical-align: text-top;
  font-size: 24px;
  transition: all 0.2s;
  opacity: 0.5;
  text-decoration: none;
  color: black;
}

.link-button + .link-button {
  margin: 0.25vw;
}

.link-button.mathematical-base-defenders-logo {
  opacity: 1;
}

.link-button:hover {
  opacity: 1;
}

#top-navigation-bar {
  position: 0.5vw;
  margin: 0.5vw;
}

#bottom-navigation-bar-wrapper {
  position: relative;
}

#bottom-navigation-bar {
  position: relative;
  background-color: #303030;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  overflow: auto;
  text-decoration: none;
  color: white;
  bottom: 0;
}

/* #bottom-navigation-bar-left-text {
  vertical-align: middle;
  color: white;
  margin-left: 0.5vw;
  user-select: none;
}

#bottom-navigation-bar-right-text {
  vertical-align: middle;
  color: white;
  margin-right: 0.5vw;
  user-select: none;
  float: right;
  top: 0;
} */

.bottom-navigation-bar__image-button > a> div {
  display:flex;
  align-items: center;
}


.bottom-navigation-bar__section {
  /* idk why */
  flex-basis: calc(100% / 3);
  margin-left: 1%;
  margin-top: 0.25%;
  font-size: 16px;
}

.bottom-navigation-bar__image-button {
  vertical-align: middle;
}

.bottom-navigation-bar__image-button span, .bottom-navigation-bar__image-button img {
  display: inline-block;
  vertical-align: middle;
}

.bottom-navigation-bar__image-button span {
  margin-left: 4px;
}

.bottom-navigation-bar-text {
  text-decoration: none;
  color: white;
}

.information-box {
  border-radius: 5px;
  border-color: #aaaaaa;
  border-style: solid;
  padding: 10px 10px;
  display: inline-block;
}

.information-box.fit-to-content {
  width: fit-content;
}

.text-field {
  border-color: #aaaaaa;
  border-radius: 4px;
  border-style: solid;
  background-color: #aaaaaa;
  width: 500px;
  height: 32px;
  font-size: 24px;
  font-family: "Computer Modern Unicode Serif";
  color: black;
}
