:root {
  --color-background-primary: #eeeeee;
  --color-background-primary-dark: #dedede;
  --color-background-secondary: #222222;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --transition-duration-regular: 200ms;
}

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans";
  font-variant-ligatures: none;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: var(--color-background-primary);
}

main {
  min-height: 100vh;
}

.text--center-align {
  text-align: center;
}

/*
  TODO: viewport for smaller devices
*/

main > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main h1,
main h2,
main h3 {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

header {
  width: 100%;
}
.text--dimmed {
  color: rgba(0, 0, 0, 0.6);
}
