@font-face {
  font-family: "Computer Modern Unicode Serif";
  src: url("../assets/fonts/computermodernunicodeserif.ttf");
}

body {
  font-family: "Computer Modern Unicode Serif";
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

#content-container {
  /* TODO: magic number, fix */
  min-height: calc(100vh - 112px);
}

#top-navigation-bar {
  background-color: #222222;
}

.top-navigation-bar__button {
  color: #ffffff;
  padding: 0 20px;
  transition-duration: 250ms;
  font-size: 24px;
  vertical-align: middle;
}

.top-navigation-bar__button:hover {
  color: #222222;
  background-color: #ffffff;
}

#bottom-navigation-bar-wrapper {
  position: relative;
}

#bottom-navigation-bar {
  position: relative;
  background-color: #222222;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  overflow: auto;
  text-decoration: none;
  color: white;
  bottom: 0;
}

.bottom-navigation-bar__image-button > a > div {
  display: flex;
  align-items: center;
}
.bottom-navigation-bar__image-button > div > span {
  color: #ffffff;
  text-decoration: none;
}
.bottom-navigation-bar__section {
  /* idk why */
  flex-basis: calc(100% / 3);
  margin-left: 1%;
  margin-top: 0.25%;
  font-size: 16px;
}

.bottom-navigation-bar__image-button {
  vertical-align: middle;
}

.bottom-navigation-bar__image-button span,
.bottom-navigation-bar__image-button img {
  display: inline-block;
  vertical-align: middle;
}

.bottom-navigation-bar__image-button span {
  margin-left: 4px;
}

.bottom-navigation-bar-text {
  color: #ffffff;
  text-decoration: none;
}

.bottom-navigation-bar__image-button > div > img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.bottom-navigation-bar__image-button {
  color: transparent;
}
