/* TODO: Find a better way. */
body {
  overflow-x: hidden;
}

#front-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  left: 10vw;
  position: absolute;
  top: 8px;
}

#front-page__logo,
#front-page__links {
  height: fit-content;
  width: 50%;
  z-index: 5;
}

#front-page__logo {
  font-size: 150%;
  color: #ffffff !important;
  text-decoration: none !important;
}

#front-page__logo-text {
  margin: -36px 0 0 40px;
  display: block;
  position: absolute;
}

#front-page__logo__text:hover {
  text-decoration: underline !important;
}

#front-page__links > a {
  color: #ffffff !important;
  text-decoration: none !important;
  margin: 8px;
  font-size: 150%;
  text-align: right;
}

#front-page__links > a:hover {
  text-decoration: underline !important;
}

#front-page__introduction {
  width: min(100vw, calc(100% * 4 / 3));
  /* background-size: 125%; */
  min-height: 100vh;
  background-size: cover;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  left: -10vw;
  z-index: 3;
  position: relative;
  background-color: #000000;
  background-image: url("../assets/images/gameplay-background.png");
  background-repeat: no-repeat;
  justify-content: center;
}

#front-page__introduction > div {
  width: min(50%, 80vw);
  left: 10vw;

  position: relative;
}

#front-page__introduction h1 {
  font-size: 250%;
  margin: 8px 0;
  font-weight: normal;
}

#front-page__introduction p {
  font-size: 125%;
}

#front-page__introduction .text--description {
  margin: 8px 0;
}

.play-now-button {
  background-color: #108800;
  border-radius: 4px;
  color: #ffffff;
  border: 2px #108800 solid;
  transition-duration: var(--transition-duration-regular);
  width: 20vw;
  height: 5vw;
  font-size: 3vw;
  font-family: "Computer Modern Unicode Serif";
  margin-right: 8px;
}

#front-page-header a {
  text-decoration: underline !important;
  font-size: 75% !important;
}

.text--link {
  color: var(--color-text-light) !important;
}

.text--disclaimer {
  opacity: 0.3;
  font-size: 80% !important;
}

main h1,
main h2,
main h3 {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

#gamemode-container-wrapper {
  display: flex;
  justify-content: space-between;
}

#gamemode-container-wrapper .gamemode-container {
  height: auto;
}

.gamemode-container {
  width: 30%;
  height: max-content;
  color: white;
  justify-content: space-between;
}

.gamemode-container > h3 {
  text-align: center;
  font-size: 150%;
}

.gamemode-container p {
  margin: 4px;
}

.gamemode-container a {
  text-align: right;
  margin: 4px;
  width: calc(100% - 8px);
  display: inline-block;
}

.gamemode-container--easy {
  background-color: #00851d;
}

.gamemode-container--standard {
  background-color: #b62a00;
}

.gamemode-container--multiplayer {
  background-color: #3867e9;
}

.feature-container {
  width: 30%;
  height: auto;
  color: white;
  justify-content: space-between;
  background-color: #222222;
}

.feature-container > h3 {
  text-align: center;
  font-size: 150%;
}

.feature-container p {
  margin: 4px;
}

.feature-container a {
  text-align: right;
  margin: 4px;
}

#feature-container-wrapper {
  display: flex;
  justify-content: space-between;
}

.right-align,
.text--right-align {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  #feature-container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .feature-container,
  .gamemode-container {
    width: 100%;
    margin: 8px 0;
    height: fit-content;
  }

  #gamemode-container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
