body {
  overflow-x: hidden;
  margin: 0;
}

button {
  font-family: "Noto Sans";
  font-variant-ligatures: none;
}

nav {
  height: 60px;
}

#header #header-content {
  text-align: center;
}

#header h1 {
  font-size: 48px;
  font-weight: bold;
}

#header h2 {
  font-size: 30px;
}

#header .button--call-to-action {
  width: 240px;
  height: 60px;
}

#header #button--play {
  background-color: #108800;
  color: #ffffff;
  border: 2px #108800 solid;
  border-radius: 4px;
  font-size: 32px;
}
