/* GLOBAL */

body {
  overflow-x: hidden;
  margin: 0;
}

button {
  font-family: "Noto Sans";
  font-variant-ligatures: none;
}

.preview__video,
.preview__image {
  user-select: none;
  pointer-events: none;
}

.no-text-decoration {
  text-decoration: none;
}

/* ICONS */
.icon {
  font-size: 48px !important;
}

h1 .icon {
  vertical-align: -6px; /* to make icon align (almost) perfectly */
}

/* NAVIGATION BAR */

nav {
  text-align: center;
  height: 60px;
}

/* HEADER */

#header {
  width: 100vw;
}

#header #header__content {
  text-align: center;
  min-height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#header h1 {
  font-size: 48px;
  font-weight: bold;
}

#header h2 {
  font-size: 30px;
}

#header h3 {
  margin: 0;
}

#header .button--call-to-action {
  width: 270px;
  height: 60px;
}

#header a {
  color: black;
}

#header #header__latest-versions {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#header .version-indicator {
  background-color: #cccccc;
  padding: 8px;
  border-radius: 4px;
  width: 250px;
}

#header .version-number {
  font-size: 30px;
}

#header #button--play {
  background-color: #108800;
  color: #ffffff;
  border: 2px #108800 solid;
  border-radius: 4px;
  font-size: 36px;
}

/* PREVIEW */

.preview {
  text-align: center;
}

.preview #video-preview {
  width: 50%;
  height: 50%;
}

/* GAMEPLAY INFORMATION */

#gameplay-information {
  background-color: #dddddd;
  padding: 8px;
  width: 100vw;
  min-height: 50vh;
}

#gameplay-information h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

#gameplay-information #gameplay-information__preview {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#gameplay-information #gameplay-information__content {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#single-player-previews {
  display: flex;
  justify-content: space-evenly;
}

#single-player-previews .preview__image--singleplayer {
  width: 20vw;
  height: auto;
}

/* CUSTOMIZATION INFORMATION */

#customization-information h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

#customization-information #customization-information__content {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#customization-information {
  padding: 8px;
  width: 100vw;
  min-height: 50vh;
}

#customization-previews {
  display: flex;
  justify-content: space-evenly;
}

#customization-previews .preview__image--customization {
  width: auto;
  height: 50vh;
}

/* MISC. INFORMATION */

#miscellaneous-information h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

#miscellaneous-information {
  background-color: #dddddd;
  padding: 8px;
  width: 100vw;
  min-height: 50vh;
}

#miscellaneous-information #miscellaneous-information__content {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
