main h1,
main h2,
main h3 {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

#leaderboards-table {
  width: 100%;
  overflow-x: auto;
  border: 2px solid #000000;
  border-collapse: collapse;
}

#leaderboards-table,
#leaderboards-table thead tr th,
.leaderboards__record td {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-collapse: collapse;
}

.rank--unclaimed {
  opacity: 0.5;
}

#leaderboards-table tr:nth-child(1) {
  background-color: #ffd700;
}

#leaderboards-table tr:nth-child(2) {
  background-color: #c0c0c0;
}

#leaderboards-table tr:nth-child(3) {
  background-color: #cd7f32;
}

th {
  font-weight: normal;
  text-align: center;
  padding: 2px 4px;
  background-color: #eeeeee;
}

.leaderboards__record td {
  font-size: 125%;
  text-align: center;
  white-space: nowrap;
  padding: 4px;
}

#leaderboards-table a {
  color: black;
  text-decoration: none;
}

#leaderboards-table .rank__number {
  width: 5%;
}

#leaderboards-table .rank__username {
  font-weight: 600;
  width: 25%;
}

#leaderboards-table .rank__score {
  font-weight: 600;
  width: 30%;
}

.center-align {
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  #leaderboards-table {
    overflow-x: scroll;
    width: 100vw;
    transform: translateX(-10%);
    display: block;
  }
}
