main h1,
main h2,
main h3 {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

#username {
  font-weight: 600;
}

#user-data-box {
  display: flex;
  flex-direction: row;
}

#user-data-box hr {
  margin: 0;
  color: #aaaaaa;
}

#user-data-box__profile {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0;
}

#user-data-box__profile-picture {
  width: 100%;
  height: auto;
}

/* TODO: May break later */
#user-data-box__username {
  display: flex;
  margin: 0 4px;
  align-items: flex-start;
  flex-direction: column;
}

#user-data-box__username p,
#user-data-box__username h1 {
  margin: 0 4px;
}

#user-data-box__username h1 {
  font-size: 250%;
}

#user-data-box__rank {
  padding: 4px 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 4px 0;
  font-size: 125%;
}

.user-data-box__gamemode {
  background-color: var(--color-background-primary-dark);
  padding: 4px;
}

.user-data-box__gamemode h2 {
  font-size: 175%;
  margin-left: 2px;
}

.user-data-box__gamemode-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.user-data-box__gamemode-title p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.large-font {
  font-size: 225%;
}

#user-data-box__statistics {
  width: 100%;
}

.user-data-box__stat {
  display: flex;
  justify-content: space-between;
  font-size: 125%;
}

.user-data-box__gamemode.user-data-box__stat--gold {
  border: 4px #ffd700 solid;
}

.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--gold,
.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--silver,
.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--bronze,
.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--top10,
.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--top100 {
  font-size: 150%;
  margin: -4px -8px;
  padding: 8px;
}

.user-data-box__gamemode.user-data-box__stat--gold {
  border: 4px #ffd700 solid;
}
.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--gold {
  background-color: #ffd700;
}

.user-data-box__gamemode.user-data-box__stat--silver {
  border: 4px #c0c0c0 solid;
}

.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--silver {
  background-color: #c0c0c0;
}

.user-data-box__gamemode.user-data-box__stat--bronze {
  border: 4px #cd7f32 solid;
}

.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--bronze {
  background-color: #cd7f32;
}

.user-data-box__gamemode.user-data-box__stat--top10 {
  border: 4px #8ba1ed solid;
}

.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--top10 {
  background-color: #8ba1ed;
}

.user-data-box__gamemode.user-data-box__stat--top100 {
  border: 4px #ab93db solid;
}

.user-data-box__gamemode .user-data-box__stat.user-data-box__stat--top100 {
  background-color: #ab93db;
}

/* end before renovation */

#user-data-box__statistics {
  width: 100%;
}

.user-statistics-box {
  background-color: #dddddd;
  width: 100%;
  margin: 0 16px 0 0;
}

.text--wide {
  font-weight: 500;
}

.text--large {
  font-size: 250%;
}

.user-statistics-box__detailed {
  margin: 0px 8px;
  font-size: 125%;
}

.user-statistics-box__field--extra-detailed {
  font-size: 100%;
}

.user-statistics-box__field--detailed {
  display: flex;
  justify-content: space-between;
}

.user-statistics-box__detailed
  .user-statistics-box__field--detailed:nth-of-type(odd) {
  background-color: #cccccc;
}

#level-bar {
  width: 400px;
  margin: 4px;
  height: 4px;
}

#level-bar-container {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
}
