<footer>
  <div id="bottom-footer">
    <div>
      <a href="https://mistertfy64.com"><img style="vertical-align: middle" src="/assets/images/mistertfy64.svg" width="auto" height="32px">
        <br>
      </a>
    </div>
    <div class="bottom-footer__right">
      <div class="bottom-footer__social-media">
        <div><a title="Patreon" class="bottom-footer__link" href="https://patreon.com/mistertfy64">
            <img style="vertical-align: middle" src="/assets/images/patreon.png" width="32px" height="32px" /></a>
        </div>
        <div><a title="Discord" class="bottom-footer__link" href="https://discord.gg/pDTZvrTXm9">
            <img style="vertical-align: middle" src="/assets/images/discord.svg" width="32px" height="32px" /></a>
        </div>
        <div><a title="GitHub Organization" class="bottom-footer__link" href="https://github.com/mathematicalbasedefenders">
            <img style="vertical-align: middle" src="/assets/images/github.png" width="32px" height="32px" /></a>
        </div>
        <div><a title="Facebook" class="bottom-footer__link" href="https://facebook.com/mathematicalbasedefenders">
            <img style="vertical-align: middle" src="/assets/images/facebook.png" width="32px" height="32px" /></a>
        </div>
        <div><a title="Twitter" class="bottom-footer__link" href="https://twitter.com/MathematicalBD">
            <img style="vertical-align: middle" src="/assets/images/twitter.png" width="32px" height="32px" /></a>
        </div>
        <div><a title="Instagram" class="bottom-footer__link" href="https://instagram.com/mathematicalbasedefenders">
            <img style="vertical-align: middle" src="/assets/images/instagram.png" width="32px" height="32px" /></a>
        </div>
      </div>
      <div>
        <a class="bottom-footer__link" href="/changelog">Changelog</a>
        <a class="bottom-footer__link" href="/privacy-policy">Privacy Policy</a>
        <a class="bottom-footer__link" href="/open-source-acknowledgements">Open Source Acknowledgements</a>
        <a class="bottom-footer__link" href="/change-password">
          Change Password?
        </a>
      </div>
    </div>
  </div>
</footer>