<div id="bottom-navigation-bar-wrapper">
  <div id="bottom-navigation-bar">
    <div style="display:flex;justify-content: space-between;">
      <div class="bottom-navigation-bar__section">
        Created by
        <br>
        <a href="https://mistertfy64.com"><img style="vertical-align: middle" src="/assets/images/mistertfy64.svg" width="auto" height="32px"></a>
        <br><br>
        © mistertfy64 2021-2023
        <br>
        This website uses cookies.
      </div>
      <div class="bottom-navigation-bar__section"> <a class="bottom-navigation-bar-text" href="/changelog">Changelog</a><br>
        <a class="bottom-navigation-bar-text" href="/privacy-policy">Privacy Policy</a><br>
        <a class="bottom-navigation-bar-text" href="/open-source-acknowledgements">Open Source Acknowledgements</a><br>
        <a class="bottom-navigation-bar-text" href="/attributions">Attributions</a><br>
        <a class="bottom-navigation-bar-text" href="/forgot-password">
          Forgot Password?
        </a><br>
      </div>
      <div class="bottom-navigation-bar__section">

        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://patreon.com/mistertfy64">
            <div>
              <img style="vertical-align: middle" src="/assets/images/patreon.png" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">Patreon</span>
            </div>
          </a></div>
        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://discord.gg/pDTZvrTXm9">
            <div>
              <img style="vertical-align: middle" src="/assets/images/discord.svg" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">Discord Server</span>

            </div>
        </div> </a>
        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://github.com/mathematicalbasedefenders">
            <div>
              <img style="vertical-align: middle" src="/assets/images/github.png" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">GitHub
                Organization</span>
            </div>
        </div></a>
        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://facebook.com/mathematicalbasedefenders">
            <div>
              <img style="vertical-align: middle" src="/assets/images/facebook.png" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">Facebook</span>
            </div>
          </a></div>
        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://twitter.com/MathematicalBD">
            <div>
              <img style="vertical-align: middle" src="/assets/images/twitter.png" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">Twitter</span>
            </div>
          </a></div>
        <div class="bottom-navigation-bar__image-button"><a style="text-decoration: none;" href="https://instagram.com/mathematicalbasedefenders">
            <div>
              <img style="vertical-align: middle" src="/assets/images/instagram.png" width="16px" height="16px" /><span style="text-decoration:none;color:#ffffff">Instagram</span>
            </div>
          </a></div>

      </div>
    </div>
  </div>
</div>