<header>
  <div id="top-navbar">
    <div>
      <a class="top-navbar__button" href="/">
        Mathematical Base Defenders
      </a>
    </div>
    <div>
      <a class="top-navbar__button">Leaderboards</a>
      <a href="/register" class="top-navbar__button">Register</a>
      <a class="top-navbar__button">Play</a>
    </div>
  </div>
</header>