<header>
  <div id="top-navbar">
    <nav>
      <a class="top-navbar__button" href="/">Mathematical Base Defenders</a>
      <a href="/about">About</a>
      <a href="/leaderboards/standard">Leaderboards</a>
      <a href="/register">Register</a>
      <a href="https://play.mathematicalbasedefenders.com" rel="noopener noreferrer">Play</a>
    </nav>
  </div>
</header>