<div id="top-navigation-bar">
  <a class="top-navigation-bar__button">Mathematical Base Defenders: Reversal</a>
  <a class="top-navigation-bar__button">Register</a>
  <a class="top-navigation-bar__button">Leaderboards</a>
  <a class="top-navigation-bar__button">About</a>
</div>