<div id="top-navigation-bar">
  <div class="top-navigation-bar__button-container">
    <a class="top-navigation-bar__button" href="/"><span>Mathematical Base Defenders: Reversal</span></a>
  </div>
  <div class="top-navigation-bar__button-container" style="display:flex;flex-direction:row">
    <a class="top-navigation-bar__button" href="/register"><span>Register</span></a>
    <a class="top-navigation-bar__button" href="/leaderboards"><span>Leaderboards</span></a>
    <a class="top-navigation-bar__button"><span>About</span></a>
  </div>
</div>