<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Account Confirmation for Mathematical Base Defenders</title>
</head>

<body>
  <p>
    <br>
    Thanks for signing up for Mathematical Base Defenders!
    <br>
    At the moment, your account is currently in a pending state. In order to fully activate your account, please click
    the activation link below.
    <br>
    <a href="{{confirmationLink}}">{{confirmationLink}}</a>
    <br>
    This link will expire in 30 minutes. After that, your account will be deleted and you may sign up again with the
    same e-mail address.
    If the link doesn't work, copy and paste the link in your search bar.
    Please do not reply to this e-mail as this e-mail is not setup to read replies.
    If you need any assistance, please e-mail <code>support@mathematicalbasedefenders.com</code>.
  </p>
</body>

</html>