<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>
    A password reset for your Mathematical Base Defenders account has been requested.
    <br>
    If this is you, and you want to continue, please click this link.
    <br>
    <a href="{{confirmationLink}}">{{confirmationLink}}</a>
    <br>
    This link will expire in 30 minutes. After that, you may request a new password reset link.
    If the link doesn't work, copy and paste the link in your search bar.
    Please do not reply to this e-mail as this e-mail is not setup to read replies.
    If you need any assistance, please e-mail <code>support@mathematicalbasedefenders.com</code>.
  </p>

</body>

</html>