<!DOCTYPE html>

<html>
    <head>

        <!-- Head -->
        <%- include('../partials/head'); %>
        <title>404 Not Found | Mathematical Base Defenders</title>

        
    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header'); %>

        <!-- Content -->
        <div id="content-wrapper">
            <p style="text-align: center; font-size: 72px">404</p>
            <p style="text-align: center; font-size: 24px">Not Found</p>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XVRB5TXW3K");
    </script>
</html>
