<!DOCTYPE html>
<html lang="en">

<head>
  <title>403 | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/centered-text.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div id="container">
      <br>
      <div id="centered">
        <h1>
          403
        </h1>
        <p>
          You do not have the rights to do this operation.
          <br>
          Please contact the server administrator if this error persists.
          <br>
          Do you want to <a href="/">go back to the homepage</a>?
        </p>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>