<!DOCTYPE html>
<html lang="en">

<head>
  <title>429 | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/centered-text.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div id="container">
      <br>
      <div id="centered">
        <h1>
          429
        </h1>
        <p>
          You are currently being rate limited.
          <br>
          Please contact the server administrator if this error persists after a while.
        </p>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>