<!DOCTYPE html>
<html lang="en">

<head>
  <title>Change Password | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/change-password.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>Change Password: Entry</h1>
      Your password reset request has been sent to the server.
      <br>
      If there is an account with this e-mail address, and it has been more than an 60 minutes since a password
      reset request has been sent for this e-mail address, then an e-mail will be sent to the account's e-mail address.
      <br>
      To continue, please click on the link sent to the e-mail address that you've provided.
      <br>
      After clicking the activation link, you may reset your password.
      <br><br>
      <a href="/">Go back to the homepage.</a>
      <br>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>