<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/register.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <div>
        <br>
        <h1>Unable to Process Password Reset Request</h1>
        Your password reset link can't be processed.
        <br>
        This is probably because your confirmation link is incorrect or your pending user record can't be found.
        <br>
        Please try again. If this persists, please contact the server administrator.
        <br><br>
        <a href="/">Go back to the homepage.</a>
        <br>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>