<!DOCTYPE html>
<html lang="en">

<head>
  <title>Confirm E-mail Address | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/register.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <div>
        <br>
        <h1>Account Activated</h1>
        Your account has been activated.
        <br>
        You may now log in to the game.
        <br>
        Thank you for playing Mathematical Base Defenders!
        <br><br>
        <a href="/">Go back to the homepage.</a>
        <br>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>