<!DOCTYPE html>

<html>

<head>

  <!-- Head -->
  <%- include('../partials/head'); %>
    <title>404 Not Found | Mathematical Base Defenders</title>


</head>

<body>
  <!-- Header -->
  <%- include('../partials/header'); %>

    <!-- Content -->
    <div id="content-wrapper" style="text-align:center;">
      <div style="font-size:144px;">404</div>
      <div style="font-size:24px">The page/leaderboard/user you are looking for can't be found.<br><a href="/">Return to
          homepage?</a></div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-XVRB5TXW3K");
</script>

</html>