<!DOCTYPE html>

<html>

<head>

  <title>Error | Mathematical Base Defenders</title>

  <%- include('../partials/head'); %>
    <style>
      .link-button {
        border: none;
        background: none;
        font-family: "Computer Modern Unicode Serif";
        font-size: 24px;
      }

      .submit-button {
        border-color: #149914;
        border-radius: 4px;
        background-color: #149414;
        width: 450px;
        border-style: solid;
        height: 72px;
        font-size: 48px;
        font-family: "Computer Modern Unicode Serif";
        color: white;
        transition: all 0.2s;
      }

      .submit-button:hover {
        background-color: #17a717;
        border-color: #17a717;
      }

      p {
        margin: 0;
      }
    </style>
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header'); %>


    <!-- Content -->
    <div id="content-wrapper">
      <p>Internal Error!</p>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-XVRB5TXW3K");
</script>

</html>