<!DOCTYPE html>

<html>
    <head>

        <title>Privacy Policy | Mathematical Base Defenders</title>

        <%- include('../partials/head'); %>

        <style>
            .link-button {
                border: none;
                background: none;
                font-family: "Computer Modern Unicode Serif";
                font-size: 24px;
            }
            h2 {
                font-size: 36px;
                font-weight: normal;
                margin: 0;
            }
            p {
                margin: 0;
            }
        </style>
    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header'); %>


        <!-- Content -->
        <div id="content-wrapper">
            <p style="text-align: center; font-size: 48px">Privacy Policy</p>
            <br />
            <p style="text-align: center; font-size: 20px">
                Last Revised: 9 November 2021
            </p>
            <br />
            <div
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <div
                    style="
                        font-size: 20px;
                        left: 15%;
                        width: 70%;
                        max-width: 1200px;
                        word-wrap: break-word;
                    "
                >
                    <div style="font-size: 20px">
                        <div>
                            <strong
                                >Before you read, please note that the game is
                                in its very early development stage. Therefore,
                                the privacy policy may change quickly. Thank you
                                for understanding!</strong
                            >
                            <hr />
                            <h2>0. Introduction</h2>
                            Mathematical Base Defenders is an online math game
                            designed for people of all ages. Mathematical Base
                            Defenders can improve your mental math skills, your
                            brain, and your mouse aim. But in order for us to do
                            that, The service has to collect and store some of
                            your data. However, we will try to be as transparent
                            on our data collection processes as possible, and
                            this privacy policy may help fulfill that goal.
                            <br />
                            <hr />
                            <h2>
                                1. Data Mathematical Base Defenders Collects
                            </h2>

                            When you access the website, the service will
                            collect the following information:
                            <br />
                            &nbsp;Location
                            <br />
                            &nbsp;Which webpage you came from
                            <br />
                            &nbsp;Your activity on the service
                            <br />
                            Aside from this, other data may be collected because
                            of where/how we host our services. The information
                            may be shown publicly, however, when the information
                            is shown, it will not contain any data that can be
                            traced back to you.
                            <hr />

                            <h2>2. Disclosures Of Your Data</h2>
                            The service may disclose data to third parties for
                            the following reasons: &nbsp;Analyzing website
                            traffic
                            <br />
                            The third parties are obligated not to disclose that
                            information for other reasons.
                            <hr />
                            <h2>3. Your Rights</h2>

                            The service allows you to change your:
                            <br />
                            &nbsp;Password (salted and hashed after change)
                            <hr />
                            <h2>4. Security</h2>
                            Mathematical Base Defenders securely stores your
                            data in MongoDB.
                            <hr />
                            <h2>5. Children</h2>

                            Mathematical Base Defenders is designed for all
                            ages. However, if you are under 13, before signing
                            up for our service, please make sure you have
                            permission from a parent or a guardian (teacher,
                            etc.) If we find a user who is under 13 years of age
                            signed up for the service without permission, we
                            will try our best to delete that information from
                            our databases.
                            <hr />
                            <h2>6. Other Sites</h2>
                            Our privacy policy only applies to this site. If you
                            visit a different site, you should read their
                            privacy policy.
                            <hr />

                            <h2>7. Cookies</h2>
                            This website uses cookies.
                            <hr />

                            <h2>8. Changes To This Privacy Policy</h2>
                            If we decide to update our Privacy Policy, an
                            announcement will be made on our website.
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XVRB5TXW3K");
    </script>
</html>
