<!DOCTYPE html>

<html>
    <head>

        <title>Register | Mathematical Base Defenders</title>

        <%- include('../partials/head'); %>
        <style>
            #notification {
                top: -15%;
                width: 100%;
                height: 7.5%;
                background-color: black;
                color: white;
                z-index: 10;
                position: absolute;
                text-align: center;
            }

            #notification-text-wrapper {
                font-size: 2.5vmin;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            .link-button {
                border: none;
                background: none;
                font-family: "Computer Modern Unicode Serif";
                font-size: 24px;
            }

            .submit-button {
                border-color: #149914;
                border-radius: 4px;
                background-color: #149414;
                width: 450px;
                border-style: solid;
                height: 72px;
                font-size: 48px;
                font-family: "Computer Modern Unicode Serif";
                color: white;
                transition: all 0.2s;
            }

            .submit-button:hover {
                background-color: #17a717;
                border-color: #17a717;
            }
        </style>
    </head>

    <body>
        <!-- Notification -->
        <div id="notification">
            <div id="notification-text-wrapper"></div>
        </div>

        <!-- Header -->
        <%- include('../partials/header'); %>


        <!-- Content -->
        <div id="content-wrapper">
            <div
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <div style="font-size: 20px; text-align: center">
                    <div style="font-size: 48px">Register</div>
                    <div>Register now for a free permanent "Tester" rank!</div>

                    <br />

                    <form method="POST">
                        <input
                            class="text-field"
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Username"
                        />
                        <br />
                        3-20 characters, no special characters except
                        underscores.
                        <br /><br />
                        <input
                            class="text-field"
                            type="text"
                            id="email"
                            name="email"
                            placeholder="E-mail address"
                        />
                        <br /><br />
                        <input
                            class="text-field"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                        />
                        <br />8-64 characters. <br /><br />

                        <input type="hidden" name="_csrf" value="" />

                        By registering, you agree to the
                        <a href="/privacy-policy">Privacy Policy</a>.

                        <br /><br />

                        <div
                            style="
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            "
                        >
                            <div
                                class="g-recaptcha"
                                data-sitekey="6Lc_7sYbAAAAAKsdpVLSzL_Y7f22zBZSc4k78JOs"
                            ></div>
                        </div>

                        <br />

                        <input class="submit-button" type="submit" />
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"
    ></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XVRB5TXW3K");
    </script>
    <script>
        document.getElementsByName("_csrf")[0].value = document.cookie
            .split(";")
            .filter((element) => {
                return element.indexOf("csrfToken") > -1;
            })[0]
            .substring(11);
    </script>
    <script>
        function showSlideDownNotification(message, backgroundColor) {
            $("#notification-text-wrapper").text(message);
            $("#notification").css({ "background-color": backgroundColor });
            $("#notification")
                .animate(
                    {
                        top: "0%"
                    },
                    500
                )
                .delay(2000)
                .animate(
                    {
                        top: "-15%"
                    },
                    500
                );
        }

        function checkURLQueryParameters() {
            let url = new URL(window.location.href);
            let erroroccurred = url.searchParams.get("erroroccurred");
            let errorReason = url.searchParams.get("errorreason");

            if (erroroccurred != null) {
                if (erroroccurred == "true") {
                    switch (errorReason) {
                        case "captchanotcomplete": {
                            showSlideDownNotification(
                                "Complete the CAPTCHA first!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "usernamealreadytaken": {
                            showSlideDownNotification(
                                "Username is already taken!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "usernamenotvalid": {
                            showSlideDownNotification(
                                "Username may only contain letters, numbers, and underscores and must be 3 to 20 characters long!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "emailalreadytaken": {
                            showSlideDownNotification(
                                "E-mail address already taken!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "emailnotvalid": {
                            showSlideDownNotification(
                                "E-mail address is not valid!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "passwordnotvalid": {
                            showSlideDownNotification(
                                "Password can only be 8 to 64 characters!",
                                "#ff2222"
                            );
                            break;
                        }
                        case "internalerror": {
                            showSlideDownNotification(
                                "An internal error has occurred!",
                                "#ff2222"
                            );
                            break;
                        }
                    }
                }
            }
        }

        checkURLQueryParameters();
    </script>
</html>
