<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head'); %>

        <title>Statistics | Mathematical Base Defenders</title>

        <style>
            .link-button {
                border: none;
                background: none;
                font-family: "Computer Modern Unicode Serif";
                font-size: 24px;
            }
        </style>
    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header'); %>

        <!-- Content -->
        <div id="content-wrapper">
            <div
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <div class="information-box fit-to-content">
                    <span style="font-size: 24px">Users Registered</span><br />
                    <span style="font-size: 48px"><%=statistics.registeredUsers%></span>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer'); %>

    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XVRB5TXW3K");
    </script>
</html>
